
*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(218,41%,15%) ;
    overflow: hidden;
    background-image: radial-gradient(650px circle at 0% 0%,
    hsl(218,41%,35%) 15%,
    hsl(218,41%,30%) 35%,
    hsl(218,41%,20%) 75%,
    hsl(218,41%,20%) 80%,

    transparent 100%,
    
    
    ),

    radial-gradient(
      1250px circle at 100% 100%,
    hsl(218,41%,35%) 15%,
    hsl(218,41%,30%) 35%,
    hsl(218,41%,20%) 75%,
    hsl(218,41%,20%) 80%,

    transparent 100%,
    );

    height: 100vh;
    overflow: hidden;
    


}

header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: hsl(218,41%,25%) ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* bottom: 10px; */
}

.brand{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 4%;
    width: 20%;
    justify-content: space-evenly;
}
h1{
    font-size: 20px;
}

.brand span img {
width: 80%;
}

.brand span img h1 {
    margin-left: 5%;
}

.navbar{
    position: relative;
    width: 100%;
    padding: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBox input{
    width: 80%;
    height: 35%;
    border: none;
    border-radius: 8px;
    padding: 1%;
    text-indent: 10px;
    font-size: 18px;
}

#search-box{
  width: 50%;
    height: 45%;
    border-radius: 9px;
    border: 1px solid hsl(218,41%,40%);
  
    padding: 1%;
    text-indent: 10px;
    font-size: 18px;
    margin: auto;
}

#searchBtnt{
  width: 30%;
  height: 40%;
  background:  hsl(218,41%,35%);
  color: white; 
  border: 2px solid hsl(218,41%,35%);
}



#searchIcon{
    position: relative;
    left: -2px;
    font-size: 22px;
    color: lightgrey;
    cursor: pointer;
    z-index:221;

}
ul{
    width: 60%;
    text-align: center;
   
}

ul li {
    color: white;
    display: inline-block;
    margin-left: 4%;
    height: 20px;
    overflow: hidden;
    
    text-align: center;
    
    
    transition: all 0.5s ease;
    text-align: center;
    padding: 1%;
    cursor: pointer;
    height: 20px;
    

}

ul li:hover{
    height: 45px;
}


ul li a:hover{
    background-color: hsl(218,41%,45%);
    color: white;
  
}

ul li span{
    display: block;
    font-size: 22px;
    padding: 2%;
    margin-top: 1px;
  

}





ul li a {
  
   text-decoration: none;
    font-size: 18px;
    
    color: white;
  
    
    
}

ul li a:active
:focus {
  display: inline;
  color: aliceblue;
    
}

#menuIcon{
    display: none;
}

/*Container*/

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    bottom: 10px;
}

/*TARJETAS*/

/*MAPA Y GRÃFICOS*/
 
#map {
    width: 100%;
   
  
   
    
}



    
/* #chartDiv {
    width: 30%;
    height: 100%;
    float:right;
} */

#btn-grafi{
  margin: 2px;
  width: 10%;
  height: 25px;
  display: block;
  color: white;
  background-color: hsl(218,41%,20%);
  border: 1px solid hsl(218,41%,40%);
  border-radius: 5px;
 
  
}

#btn-grafi:hover{
  background: hsl(218,41%,35%);
}


p,ol {
    font: 12px/14px Arial, Helvetica, sans-serif;	
    
}

.info {
    padding: 16px 10px;
    text-align: left;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background-color: hsl(218,41%,20%);
    border: 1px solid hsl(218,41%,40%);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: white;
}
.info h4 {
    margin: 0 0 5px;
    color: 'white';
}

.legend {
    text-align: right;
    line-height: 20px;
    color: white;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 20px;
    margin-bottom: 2px;
    opacity: 0.7;
}
/*MEDIA*/

@media  (max-width:768px) {
    .navbar{
        position: relative;
        display: block;
        width: 60%;
        display: none;
    }

    .navbar .navactive{
        display: inline;
    }

    .searchBox{
        position: relative;
        width: 100%;
        top: 60px;
        z-index: 221;
        left: 5%;
    }

    #menuIcon{
        display: inline;
        position: fixed;
        font-size: 25px;
        margin-left: 88%;
        z-index: 222;
        padding: 2%;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid hsl(218,41%,45%) ;
    }
    .navbar ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: hsl(218,41%,15%) ;
    }
    .navbar ul li {
       display: block;
       margin-top: 20px;
       width: 100%;
       height: 40px;
       text-align: left;
       position: relative;
       top: 50px;
       padding: 2%;
    }

    ul li:hover{
        background-color: hsl(218,41%,15%) ;
    }

    ul li #headIcon{
        display: inline-block;
        font-size: 20px;
    }
    ul li a{
        margin-left: 40px;
        font-family: 600;
    }
}


/*contenedor dinamico*/
.bg-glass {
    background: hsla(0, 0%, 100%, 0.15);
    backdrop-filter: blur(30px);
  }
  .indicator-all{
    display: flex;
    flex-direction: row;
    
  }

.indecator  {
    height: 90px;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family:  Charcoal, sans-serif;
    background-color: hsl(218,41%,20%);
    border: 1px solid hsl(218,41%,40%);
  }
  
  .indecator p {
    font-size: 20px;
    font-family:  Charcoal, sans-serif;
    margin-left: 10px;
    color: white;
  }
  
  #indecator1 {
   
   height: 100px;
   
   
   
   
}

  
  #indecator2 {
  
    height: 100px;
    
    
  
}

#indecator3{
  
    height: 100px;
    
    
  
}

#indecator1:hover {
    background:  hsl(218,41%,35%);
  }
  #indecator2:hover {
    background: hsl(218,41%,35%);
  }
  #indecator3:hover {
    background: hsl(218,41%,35%);
  }
  

 

#icon-indi{
    font-size: 65%;
    color: white;
}

/*SIDE NAVBAR*/

#menuIcon{
    display: none;
}

#print {
  fill: white;
  margin:auto;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  top: 2%;
  right: 2%;
  top: 46%;
  bottom: auto;
  left: auto;
}

#hamburger {
  fill: white;
  height: 10%;
  width: 10%;
  margin: 10px;
  top: 35%;
  position:absolute;
  z-index: 1000;
 

  cursor: pointer;
  
}

#sidebar {
  width: 300px;
  height: 70%;
  background-color: hsl(218,41%,25%);
  border-radius: 10px;
  border: 1px solid hsl(218,41%,40%);
  position:absolute;
  top: 30%;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  transition: width 0.5s ease;
  white-space: nowrap;
}

.sidebar-item {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 1em;
  align-items: center;
  cursor: pointer;
}
.sidebar-item:hover {
  background-color: hsl(218,41%,45%);
}

.sidebar-item > div {
  padding: 0 1em;
  width: 50%;
}

.sidebar-item svg {
  flex-shrink: 0;
  fill: white;
  width: 20%;
  

}


#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
 
}

/*SIDE BAR DERECHO */
#hamburger2 {
  fill: white;
  height: 10%;
  width: 10%;
  margin: 10px;
  top: 50%;
  right: 0;
  position:absolute;
  z-index: 1000;
   cursor: pointer;
  
}

#overlay2 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
}
#rightSidebar {
  width: 300px;
  height: 90%;
  background-color: hsl(218, 41%, 25%);
  border-radius: 10px;
  border: 1px solid hsl(218, 41%, 40%);
  position: absolute;
  top:20%;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  transition: width 0.5s ease;
  white-space: nowrap;
}


.sidebar-item2 {

  display: flex;
  padding: 1em;
  align-items: center;
  cursor: pointer;
}

#rightSidebar2{
  width: 300px;
  height: 25%;
  position: fixed;
  
  top: 25%;
  right: 19%;

  background-color: hsl(218, 41%, 25%);
  border-radius: 10px;
  border: 1px solid hsl(218, 41%, 40%);
  margin-left: 65%;
  z-index: 1000;

  transition: width 0.5s ease;
  white-space: nowrap;
}

#rightSidebar3{
  width: 300px;
  height: 28%;
  position: fixed;
  
  top: 52%;
  right: 19%;

  background-color: hsl(218, 41%, 25%);
  border-radius: 10px;
  border: 1px solid hsl(218, 41%, 40%);
  margin-left: 65%;
  z-index: 1000;

  transition: width 0.5s ease;
  white-space: nowrap;
}

.leaflet-control-layers-toggle {
    background-image: url(https://i.stack.imgur.com/3keSg.png) !important;
      background-color:hsl(218,41%,25%);
    background-size: 35px 35px;
  }
  
  .leaflet-touch .leaflet-control-layers-toggle {
  background-image: url(https://i.stack.imgur.com/3keSg.png) !important;
  background-color: hsl(218,41%,25%);
  border: 3px solid  hsl(218,41%,40%);

  }
  
/*   .leaflet-control-layers-expanded {
    color: white;
      background-color: hsl(218,41%,40%);
  } */
  .leaflet-pane{
    background-color: hsl(218,41%,40%);
  }
  .leaflet-control-layers-list {
    background-color: hsl(218,41%,40%);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border: 3px solid  hsl(218,41%,25%);
    border-radius:  1px;
    
    padding: 5px;
    
  }
  .my-tooltip {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 3px #FFF;
    font-size: 0.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#deptos{
  background-color: hsl(218, 41%, 40%);
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

#deptos:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}


#deptos:hover {
  background-color: hsl(218, 41%, 35%);
}

#loc{
  background-color: hsl(218, 41%, 40%);
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

#loc:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}




/*POP U */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: hsl(218,41%,20%);
  color: white;
  text-align: center;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.my-table {
  border-collapse: collapse;
 background-color: hsl(218,41%,20%); 
 color: white;
 width: 100%;
 text-align: center;
  
}

tr,th,td{
  padding: 8px;
  /* border: 1px solid #ddd; */
}

tr:nth-child(even) {
  background-color: hsl(218, 41%, 35%);

}

.my-table .label {
  font-weight: bold;
}

.my-table .value {
  text-align: right;
}


/*Menu inside*/

.dropdown__menu a {
  display: block;
}

.dropdown__button{
  background: hsl(218, 41%, 40%);
  border: 1px solid  hsl(218, 41%, 35%);
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 90%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  top: 2px;
  left: 2px;
  bottom: 5px;
}



#dropIcon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px; 
  color: white;
}
#dropIcon2 {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  color:white;
  font-size: 20px
}

.hide{
  display: none;
}

.tableDrop th {
  font-size: 10px;
  color: white;
  cursor: pointer;
  
}
.tableDrop th:hover {
  
  background: hsl(218, 41%, 40%);
}

#myTable{
  color: white;
  font-size: 10px;

}



.listButton {
 
  float: left;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 60%;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: hsl(218, 41%, 35%);
  font-size: 20px;
  margin-right: 80px;
  margin-left: 30px;
  text-decoration: none;
}

.listButton:hover {
  background-color: hsl(218,41%,40%);
}


#tooltip
{
position:absolute;
background:white;
z-Index:1000;
padding:5px;
border-radius:5px;
border: 1px solid grey;
cursor: pointer;
}

/*Leyenda*/

#legend{
 margin: 7px 7px 7px;
 font-size: small;
 color: white;
 text-align: center;
 font-size: 15px;
 cursor: pointer


}

#legend h2{
  font-size: medium;
  text-align: center;
}

.box {
  
  height: 20px;
  width: 20px;

  border: 0.5px solid white;
  
}
#mytable td{
  cursor: pointer;
}

/* ICONOS DE REFRESCAR */
#iconSideBar i{
  color: white;
  margin: 2px 80px 5px 5px ;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}
/*STYLE DIV */

#my-div {
  width: 6em;
  height: 6em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(16, 0, 54, 0.2);
  transition: 0.1s ease-out;
}

/*POP-UP MAP*/
.another-popup .leaflet-popup-content-wrapper {
  /* background-image: url(img/Logosinfondo.png); */
 /*  background-size: auto;
 */
background-color: hsl(218,41%,20%);
border: 1px solid hsl(218,41%,40%);
width: 230px;
height: 100px;
color: #eee;
font-size: 12px;

text-align: left;
border-radius: 5%;

}
/* QUITAR LA X*/

.leaflet-popup-close-button {
  display: none;
}

.another-popup .leaflet-popup-content-wrapper a {
  color: rgba(200, 200, 200, 0.1);
  
}
.another-popup .leaflet-popup-tip-container {
  width: 50px;
  height: 15px;
  
}
.another-popup .leaflet-popup-tip {
  background: transparent;
  border: none;
  box-shadow: none;
}
